*{
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: rgb(247, 247, 247); 
}
.topline {
    width: 100%;
    background-color: #ff8919;
    height: 6px;
}
.header-1 {
    width: 100%;
    background-color:rgb(227, 227, 227);
    height: 60px;
}
main {
    width: 100%;
    float: left;
    position: relative;
}
.logo {
    padding: 9px;
}
nav {
    background:rgb(227, 227, 227);
    width: 224px;
    height: 5500px;
    position: absolute;
    margin-top: 65px;
    font-family: helvetica, arial;
    font-size: 12px;   
}
.menus {
    background-color: #ff8919;
    width: 208px;
    height:18px;
    color: white;
    margin: 3px 4px;
}

.menu-txt {
    line-height: 19px;
    text-decoration: none;
    color: white;
    margin-left: 6px;
}
nav ul li a {
    text-decoration: none;
    padding-left: 12px;
    color: #666;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    display: block;
}
nav ul li {
    line-height: 24px;
}
nav ul li a:hover {
    background-color: rgba(102, 102, 102, 0.171);
    transition: 0.3s;
}

.GestaoDeAns {
    text-decoration: none;
}
.documento {
    font-family: helvetica;
    margin-left: 300px;
    padding-top: 130px;
    margin-right: 30px;
}

.submenus {
    text-decoration: none;
    color: #666;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    display: block;
    border: none;
    background: none;
    line-height: 24px;
    margin-left: 6px;
}
.documento {
    text-align: justify;
    padding-right: 500px;
    line-height: 26px;
}
.documento ul {
    text-indent: 35px;
    
}
.documento ul p {
    font-size: 14px;
}
.documento h2 {
    color:#ff8919;
}
.documento h3 {
    color:#ff8919;
}

/*
.conteudo {
    margin-left: 184px;
    position: absolute;
    margin-top: 66px;
}
.manusis_logo2 {
    margin-left: 1200px;
    position: relative;
}
*/
/*
nav ul ul {
    display: none;
}

nav ul .submenu-dashboards.mostra{
    display: block;
}
nav ul .submenu-relatorios.mostra{
    display: block;
}
nav ul .submenu-exportadores.mostra{
    display: block;
}

nav ul .submenu-estrutura.mostra{
    display: block;
}

nav ul .submenu-programacao.mostra{
    display: block;
}

nav ul .submenu-documentos.mostra{
    display: block;
}
nav ul .submenu-projetos.mostra{
    display: block;
}
nav ul .submenu-planodeacao.mostra{
    display: block;
}
nav ul .submenu-insights.mostra{
    display: block;
}

nav ul .submenu-chat.mostra{
    display: block;
}

nav ul .submenu-configuracoes.mostra{
    display: block;
}
*/